{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="container">

  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{#  <script src="{% static 'js/chart.js' %}"></script>#}

  <script>
  function setChart() {
    Highcharts.setOption({
      global: {
        useUTC: false
      }
    });
  };

  $.ajax({
    //url: `/stockAPI/data/${company}`,
    url: "/stockAPI/data/NAVER",
    dataType: 'json',
    success: function (data) {
      console.log(data);
      Highcharts.setOptions({
        global: {
          useUTC: false
        }
      });

      Highcharts.stockChart("container", {

        chart: {
          height: 600
        },

        title: {
          text: 'NAVER Daily Stock Price'
        },

        rangeSelector: {
          selected: 7,
          inputEnabled: false
        },

        xAxis: {
          type: 'datetime',
          labels:{
            formatter: function(){
              return Highcharts.dateFormat('%y.%m.%d', this.value);
            },
            step: 3
          }
        },

        yAxis: {
          labels: {
            format: '{value}',
            style: {
              color: 'rgba(0,0,0,.6)',
            },
            x: 30,
          },
          opposite: false,
          tickInterval: 50,
        },

        tooltip: {
          xDateFormat: '%Y-%m-%d',
          split: true
        },

        series: [{
            name: '시가',
            data: data.open,
            color: 'rgba(0,200,0,.6)',
            lineWidth: 3
        },
        {
            name: '종가',
            data: data.close,
            lineWidth: 3
        },
        {
          name: '고가',
          data: data.high,
          lineWidth: 2
        },
        {
          name: '저가',
          data: data.low,
          lineWidth: 2
        }
        
        ],

        legend: {
          enabled: true,
          align: 'left',
          verticalAlign: 'top',
          floating: true,
          x: 30,
          y: 70
        },

        responsive: {
          rules: [{
            condition: {
              maxWidth: 600
            },
            chartOptions: {
              chart: {
                height: 300
              },
              navigator: {
                enabled: false
              }
            }
          }]
        }
      });
    }
  });
  </script>

</div>

{% endblock %}